In [1]:
#Import required libraries
import os
import pandas as pd
from tensorflow import keras
import matplotlib.pyplot as plt

## This programe is create by Sujit Mandal

""" 
Github: https://github.com/sujitmandal

Pypi : https://pypi.org/user/sujitmandal/

LinkedIn : https://www.linkedin.com/in/sujit-mandal-91215013a/
"""

In [2]:
unknownData = pd.read_csv('dataset/unknownData.csv',delimiter=';',index_col='date')
unknownData.head()

            year  month  dayofyear  dayOfMonth  dayOfWeek  week
date
2018-03-08  2018      3         67           8          5     9
2018-03-09  2018      3         68           9          6     9
2018-03-10  2018      3         69          10          7     9
2018-03-11  2018      3         70          11          1    10
2018-03-12  2018      3         71          12          2    10

In [3]:
unknownDates = unknownData.index
len(unknownDates)

299

In [4]:
new_model = keras.models.load_model('saved model/vscode/my_model.h5')
new_model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 300)               2100
_________________________________________________________________
dropout (Dropout)            (None, 300)               0
_________________________________________________________________
dense_1 (Dense)              (None, 90)                27090
_________________________________________________________________
dropout_1 (Dropout)          (None, 90)                0
_________________________________________________________________
dense_2 (Dense)              (None, 30)                2730
_________________________________________________________________
dropout_2 (Dropout)          (None, 30)                0
_________________________________________________________________
dense_3 (Dense)              (None, 10)                310
_________________________________________________________________
dropout_3 (Dropout)          (None, 10)                0
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 11
=================================================================
Total params: 32,241
Trainable params: 32,241
Non-trainable params: 0
_________________________________________________________________

In [ ]:
unknownDatapredictions = new_model.predict(unknownData).flatten()
print('Unknown Data Predictions :')
print(unknownDatapredictions)